{:deps   {:aliases [:dev]}
 :builds {:workspaces {:target     nubank.workspaces.shadow-cljs.target
                       :ns-regexp  "-(test|cards)$"
                       :output-dir "target/public/js/workspaces"
                       :asset-path "/js/workspaces"
                       :devtools   {:preloads [devtools.preload
                                               com.fulcrologic.fulcro.inspect.preload]}}
          :client     {:target     :browser
                       :output-dir "target/public/js/client"
                       :asset-path "/js/client"
                       :modules    {:main {:entries [lava-jato-the-game.client]}}
                       :devtools   {:preloads   [lava-jato-the-game.user
                                                 devtools.preload
                                                 com.fulcrologic.fulcro.inspect.preload]
                                    :after-load lava-jato-the-game.user/after-load}}}}
